@media (max-width: 768px) {

    /* Show hamburger on right */
    .hamburger {
        display: block;
        font-size: 1.8rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
        z-index: 1001;
    }

    /* Hide normal nav */
    nav {
        position: fixed;
        top: 0;
        right: -100%; /* hidden */
        width: 150px;
        height: 28vh;
        background: var(--whitebackground);
        box-shadow: -2px 0 10px rgba(0,0,0,0.2);
        transition: right 0.3s ease;
        z-index: 1000;
        padding-top: 60px;
    }

    /* Show menu */
    nav.open {
        right: 0;
    }

    /* Menu items */
    .navigation {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .navigation li {
        text-align: center;
    }

    .navigation a {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }

    .social {
        justify-content: center;
    }
}