
/* Prevent content touching screen edges */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 30px auto 40px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    width: 32px;
    height: auto;
}

nav {
    display: grid;
    grid-template-columns: auto;
    background-color: #555;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #fff;
}

nav ul {
    
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem
}

nav a:hover {
    color: yellow;
}

main {
    max-width: 100%;
    margin: auto;
    padding: 5px 10px 5px 10px;

}

.top-sections {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 0px 0px 10px 0px;
}

section {
    border: 1px solid #333;
    background-color:rgb(198, 196, 196);
    column-gap: 5px;
}

section h2 {
    color: #ddd;
    background-color: #000;
    padding:5px;
    margin: 0;
    text-align: center;
}

section p {
    padding: 10px;
}

.photo img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: auto;
    
}

.about {
    grid-column: 1/2;
}

.hamburger {
    display: none;
}

.hamburger.open {
    font-size: 0;
}

.hamburger.open::before {
    content: "✕";
    font-size: 24px;
}

/* Mobile Responsive */

@media (max-width: 768px) {

    header img {
        width: 22px;
    }

    .navigation {
        display: none;
        flex-direction: column;
    }
    
    .navigation.open {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .top-sections {
        grid-template-columns: 1fr;
    }

}

#course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#course-container div {
    background: #ddd;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.completed::after {
    content: " ✓";
    color: green;
    font-weight: bold;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 10px 0;
}

.buttons button {
    
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #ddd;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #bbb;
}

.credits {
    text-align: center;
}

.credits span {
    display: block;
    margin: 10px 0;
}

/* Footer */

footer {
    text-align: center;
    background: #f2f2f2;
    padding: 10px;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social img {
    width: 24px;
    height: auto;
}

.social a {
    margin: 0 8px;
}